{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title> {% block titulo %}  {% endblock %} </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block contenido %}  {% endblock %}
            </div>
        </div>
    </div>
    <script> 
        function eliminar_articulos(articulo_id){
           
             
            $.ajax({
                url: '/eliminar_articulo/'+articulo_id,               
                dataType: 'json',
                success: function (data) {
                   $('#tr_articulos').empty();
                   for (var i = 0; i < data.length; i++) {
                    $('#tr_articulos').append('<tr><td>' + data[i].fields.tipo +'-'+data[i].fields.serial +'</td><td>' + "<a id='btneliminar'  onclick='eliminar_articulos("+ data[i].pk +")' class='btn btn-primary' href='#' role='button'>Eliminar</a></td></tr>");
               
                   }
                  }
            });
        }
    $(window).on('load', function (e) {
   
        $('#bloque').change(function () {
            var bloque_id =$(this).val();
            cargar_artiulos(0)
            $.ajax({
                url: '/oficinas/'+bloque_id,
               
                dataType: 'json',
                success: function (data) {
                   $('#oficina').empty();
                   $('#oficina').append('   <option value="">Seleccione La oficina</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#oficina').append('<option value="' + data[i].pk + '">' + data[i].fields.nom_oficina + '</option>');
                      
                    }
                }
            });

        });
        $('#oficina').change(function () {
            var oficina_id =$(this).val();
            cargar_artiulos(oficina_id)
        })

       function cargar_artiulos(oficina_id){
          
            $.ajax({
                url: '/articulos_oficina/'+oficina_id,               
                dataType: 'json',
                success: function (data) {
                   $('#tr_articulos').empty();
                   for (var i = 0; i < data.length; i++) {
                    $('#tr_articulos').append('<tr><td>' + data[i].fields.tipo +'-'+data[i].fields.serial +'</td><td>' + "<a id='btneliminar'  onclick='eliminar_articulos("+ data[i].pk +")' class='btn btn-primary' href='#' role='button'>Eliminar</a></td></tr>");
                   }
                  }
            });
        }
       
        function guardar_articulos(){
            oficina_id= $('#oficina').val();
            articulo_id= $('#articulo').val();
            $.ajax({
                url: '/agregar_articulo/'+oficina_id+'/'+articulo_id,               
                dataType: 'json',
                success: function (data) {
                   $('#tr_articulos').empty();
                   for (var i = 0; i < data.length; i++) {
                    $('#tr_articulos').append('<tr><td>' + data[i].fields.tipo +'-'+data[i].fields.serial +'</td><td>' + "<a id='btneliminar'  onclick='eliminar_articulos("+ data[i].pk +")' class='btn btn-primary' href='#' role='button'>Eliminar</a></td></tr>");
               
                   }
                  }
            });
        }
        $("#btnagregar").click(function(){
            guardar_articulos()
        }); 
        });
</script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
 
</body>

</html>